<h1>Eleições 2012</h1>

<h3>Importações de dados:</h3>
<table>
    <tr>
        <td><%= link_to "candidatos", candidatos_import_path %></td>
        <td><%= link_to "cargos", cargos_path %></td>
        <td><%= link_to "cidades", cidades_path %></td>
        <td><%= link_to "estados", estados_path %></td>
        <td><%= link_to "estados civis", estados_civis_path %></td>
        <td><%= link_to "grau de estudo", graus_estudo_path %></td>
        <td><%= link_to "nacionalidades", nacionalidades_path %></td>
        <td><%= link_to "naturalidades", naturalidades_path %></td>
        <td><%= link_to "partidos", partidos_path %></td>
        <td><%= link_to "profissões", profissoes_path %></td>
        <td><%= link_to "sexos :)", sexos_path %></td>
        <td><%= link_to "situações", situacoes_path %></td>
    </tr>
</table>

