<!DOCTYPE html>
<html>
<head>
  <title>Eleicao2012c</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <table>
        <tr>
            <td><%= link_to "Prefeito", url_for( :action => "candidatos", :nome => "prefeito" ) %></td>
            <td><%= link_to "Vereador", url_for( :action => "candidatos", :nome => "vereador" ) %></td>
            <td><%= link_to "Home", root_path %></td>
        </tr>
    </table>

<%= yield %>

</body>
</html>
